@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	height: 12%;
	background: lightgray;
	text-align: center;
	font-size:2em;
	line-height: 100px;
}
nav{
	width: 100%;
	height: 5%;
	background: black;
	line-height: 50px;
	font-size: 1.1em;
}
nav ul li{
	margin: 0 2%;
	list-style-type: none;
	display: inline;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
#sec1{
	width: 100%;
	height: 78%;
}
#sec1 h2{
	text-align: center;
}
#sec1 h4{
	text-indent: 2%;
}
#sec1 ol li{
	margin: 0 2%;
}
footer{
	width: 100%;
	height: 5%;
	background: gray;
	color: white;
	text-align: center;
	line-height: 40px;
}
.td1{
	text-align: center;
	
}
.td2{
	text-align: center;
	background: silver;
}
.td3{
	background: silver;
	text-align: center;
	color: white;
}
.bt1{
	width: 40px;
	height: 30px;
}
.th1{
	background-color: silver;
	 
}
#tab1{
	border: solid black;
	margin: 0 auto;
	width:70%;
}
.div1{
	margin:0 15%;
}
.bt2{
	width: 250px;
	height: 30px;
	background: black;
	color: white;
}
